In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import datetime, pytz
import seaborn as sns
#import plotly.graph_objects as go
import matplotlib.pyplot as plt
from matplotlib import pyplot

In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\ProgramFiles\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
# Here We Convert Minutely Data to Daily Form 

def dateparse (time_in_secs):    
    
    return pytz.utc.localize(datetime.datetime.fromtimestamp(float(time_in_secs)))

In [3]:
df = pd.read_csv("../BTC_Correction_Listing_csv/data.csv",parse_dates=[0], date_parser=dateparse)

In [4]:
df.head(20)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 16:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 16:53:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 16:54:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 16:55:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 16:56:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011-12-31 16:57:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2011-12-31 16:58:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2011-12-31 16:59:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2011-12-31 17:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2011-12-31 17:01:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2011-12-31 17:02:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011-12-31 17:03:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011-12-31 17:04:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2011-12-31 17:05:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2011-12-31 17:06:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2011-12-31 17:07:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2011-12-31 17:08:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2011-12-31 17:09:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2011-12-31 17:10:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2011-12-31 17:11:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

Timestamp                  0
Open                 1243472
High                 1243472
Low                  1243472
Close                1243472
Volume_(BTC)         1243472
Volume_(Currency)    1243472
Weighted_Price       1243472
dtype: int64

In [6]:
df['date'] = pd.to_datetime(df['Timestamp'], format="%Y-%d-%m %H:%M")

In [7]:
df['date'] = pd.to_datetime(df['date'])
df         = df.set_index(['date'])

In [8]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
date,,,,,,,,
2011-12-31 16:52:00+00:00,2011-12-31 16:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:53:00+00:00,2011-12-31 16:53:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 16:54:00+00:00,2011-12-31 16:54:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 16:55:00+00:00,2011-12-31 16:55:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 16:56:00+00:00,2011-12-31 16:56:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2020-12-31 08:56:00+00:00,2020-12-31 08:56:00+00:00,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129,28806.429798
2020-12-31 08:57:00+00:00,2020-12-31 08:57:00+00:00,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629,28846.441863
2020-12-31 08:58:00+00:00,2020-12-31 08:58:00+00:00,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464,28879.056266
2020-12-31 08:59:00+00:00,2020-12-31 08:59:00+00:00,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660,28893.695831
2020-12-31 09:00:00+00:00,2020-12-31 09:00:00+00:00,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320,28909.166061

In [9]:
df.Low[df.Low==1.5]     = 540   # wrong data 
df.Close[df.Close==1.5] = 540   # wrong data
df.fillna(method='ffill', inplace = True)

D:\ProgramFiles\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\ProgramFiles\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
# Close 

df_Close = df[["Close"]]
df_Close = df_Close.resample('D')[['Close']].last()

In [11]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
date,,,,,,,,
2011-12-31 16:52:00+00:00,2011-12-31 16:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:53:00+00:00,2011-12-31 16:53:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:54:00+00:00,2011-12-31 16:54:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:55:00+00:00,2011-12-31 16:55:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:56:00+00:00,2011-12-31 16:56:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
...,...,...,...,...,...,...,...,...
2020-12-31 08:56:00+00:00,2020-12-31 08:56:00+00:00,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129,28806.429798
2020-12-31 08:57:00+00:00,2020-12-31 08:57:00+00:00,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629,28846.441863
2020-12-31 08:58:00+00:00,2020-12-31 08:58:00+00:00,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464,28879.056266
2020-12-31 08:59:00+00:00,2020-12-31 08:59:00+00:00,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660,28893.695831
2020-12-31 09:00:00+00:00,2020-12-31 09:00:00+00:00,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320,28909.166061

In [12]:
# Low 

df_Low = df[["Low"]]
df_Low = df_Low.resample('D')['Low'].agg(['min'])

In [13]:
# High

df_High = df[["High"]]
df_High = df_High.resample('D')['High'].agg(['max'])

In [17]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
date,,,,,,,,
2011-12-31 16:52:00+00:00,2011-12-31 16:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:53:00+00:00,2011-12-31 16:53:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:54:00+00:00,2011-12-31 16:54:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:55:00+00:00,2011-12-31 16:55:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 16:56:00+00:00,2011-12-31 16:56:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
...,...,...,...,...,...,...,...,...
2020-12-31 08:56:00+00:00,2020-12-31 08:56:00+00:00,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129,28806.429798
2020-12-31 08:57:00+00:00,2020-12-31 08:57:00+00:00,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629,28846.441863
2020-12-31 08:58:00+00:00,2020-12-31 08:58:00+00:00,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464,28879.056266
2020-12-31 08:59:00+00:00,2020-12-31 08:59:00+00:00,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660,28893.695831
2020-12-31 09:00:00+00:00,2020-12-31 09:00:00+00:00,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320,28909.166061

In [ ]:
df_daily = pd.concat([df_Low,df_High,df_Close],axis=1)

In [38]:
df_daily2 = pd.concat([df_Low,df_High,df_Close],axis=1)

In [24]:
df_daily

                                min       max     Close
date
2011-12-31 00:00:00+00:00      4.39      4.39      4.39
2012-01-01 00:00:00+00:00      4.39      4.58      4.58
2012-01-02 00:00:00+00:00      4.58      5.00      5.00
2012-01-03 00:00:00+00:00      5.00      5.32      5.26
2012-01-04 00:00:00+00:00      4.93      5.29      5.19
...                             ...       ...       ...
2020-12-27 00:00:00+00:00  25329.90  28377.94  27295.11
2020-12-28 00:00:00+00:00  25770.00  27473.49  27261.43
2020-12-29 00:00:00+00:00  25831.85  27292.82  26626.63
2020-12-30 00:00:00+00:00  26205.00  28599.99  28193.92
2020-12-31 00:00:00+00:00  27896.34  29010.32  28928.49

[3289 rows x 3 columns]

In [20]:
from stockstats import StockDataFrame

In [25]:
df_daily = StockDataFrame.retype(df_daily)
df_daily['macd'] = df_daily.get('macd') # calculate MACD

In [54]:
df_daily

,min,max,close,macd,macds,macdh,deneme,date2
date,,,,,,,,
2011-12-31 00:00:00+00:00,4.39,4.39,4.39,0.000000,0.000000,0.000000,0,2011-12-31 00:00:00+00:00
2012-01-01 00:00:00+00:00,4.39,4.58,4.58,0.004263,0.002368,0.001895,0,2012-01-01 00:00:00+00:00
2012-01-02 00:00:00+00:00,4.58,5.00,5.00,0.018456,0.008962,0.009494,0,2012-01-02 00:00:00+00:00
2012-01-03 00:00:00+00:00,5.00,5.32,5.26,0.033846,0.017391,0.016455,0,2012-01-03 00:00:00+00:00
2012-01-04 00:00:00+00:00,4.93,5.29,5.19,0.038711,0.023733,0.014977,0,2012-01-04 00:00:00+00:00
...,...,...,...,...,...,...,...,...
2020-12-27 00:00:00+00:00,25329.90,28377.94,27295.11,1902.250091,1515.660264,386.589826,0,2020-12-27 00:00:00+00:00
2020-12-28 00:00:00+00:00,25770.00,27473.49,27261.43,2052.525766,1623.033365,429.492401,0,2020-12-28 00:00:00+00:00
2020-12-29 00:00:00+00:00,25831.85,27292.82,26626.63,2096.233195,1717.673331,378.559864,0,2020-12-29 00:00:00+00:00
2020-12-30 00:00:00+00:00,26205.00,28599.99,28193.92,2231.614193,1820.461503,411.152690,0,2020-12-30 00:00:00+00:00
2020-12-31 00:00:00+00:00,27896.34,29010.32,28928.49,2370.848602,1930.538923,440.309679,0,2020-12-31 00:00:00+00:00

In [29]:
df_daily["deneme"] = 0

In [53]:
df_daily["date2"] = df_daily.index

In [60]:
for row in df_daily.itertuples():
    temp = row.date2 
    
    if row.macd > row.macds:     #eğer o satırın macd'si macds'den büyükse 
        df_daily.at[index, 'RandNo'] = rand

TypeError: 'Pandas' object does not support item assignment

In [ ]:
for row in df.itertuples():
    print(row.A)
    print(row.Index)